# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
.next/
out/
build/
*.tsbuildinfo

# Turbo
.turbo/

# Env
.env
.env.local
.env.*.local
!.env.example
!.env.local.example

# Logs
*.log
npm-debug.log*

# Testing
coverage/
playwright-report/
test-results/

# Prisma
apps/api/prisma/*.db

# Editor / OS
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
